/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans {
    font-family: "Fira Sans", sans-serif;
}

/* Global Css */
* {
    margin: 0;
    padding: 0;
}

.website-bg {
    background-color: #F5F5F5;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}

.news-title {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.btn-primary {
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.section-margin {
    margin: 80px 0;
}

.card-btn {
    padding: 11px 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-top: 24px;
    cursor: pointer;
    width: auto;
}

/* *********************************************************** */

/* Navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}

.brand-name h2 {
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}

.nav-btn {
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    cursor: pointer;
}

/* Hero section style */
.banner {
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.banner img {
    max-width: 400px;
}

.hero-sub {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.hero-text {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    max-width: 622px;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* Pillars Section style */

.pillars-cards {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.pillars-card {
    flex: 1;
    padding: 24px;
    border-radius: 16px;
    background-color: white;
}

.pillars-card h4 {
    margin-top: 24px;
    margin-bottom: 12px;
}

/* Vision Section Style */
.vision-text {
    margin-top: 24px;
}

.vision-cards {
    display: flex;
    gap: 24px;
    margin: 32px 0;
}

.vision-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 16px;
    padding: 32px;
}

.vision-card h4 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.card-1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.card-2 {
    background-color: rgba(198, 228, 214, 1);
}

.card-3 {
    background-color: rgba(247, 235, 207, 1);
}

.btn-1 {
    background-color: #5490F5;
}

.btn-2 {
    background-color: #09A15C;
}

.btn-3 {
    background-color: #FFC239;
}

.quote{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 20px 25px ;
    padding: 48px 24px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.quote-text h4{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 20px;
}
.quote-text p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.6);
}